.contentContainer{
max-width:1400px;
padding:0 2rem;
height:calc(100vh - 5rem);
position: relative;
margin: 0 auto;

display: flex;
align-items: center;
justify-content: center;
gap: 80px;


.myAvatar{
   &:hover{
    cursor:pointer;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform;
}
}
}

.hero{
   max-width:660px;

   > span{
      font-size:1.5rem;
      font-weight:bold; 
   }

   h1{
       font-size: 2.5rem;
       line-height:4.5rem;
       font-weight:900;
       margin-top: 2.5rem;

       span{
           color: var(--cyan-500);
       }
       .span{
        color: var(--cyan-500);
        font-size:8rem;
       }
   }

   p{
       font-size: 1.5rem;
       line-height: 2.25rem;
       margin-top: 1.5rem;

       span{
           color: var(--cyan-500);
           font-weight:bold;
       }
   }

   button{
       margin-top: 2.5rem;
   }

   .buttons{
    display: flex;
    align-items: center;
    margin-top:10px;
    a{
        margin: 0 4px;
        color: var(--yellow-500);
    }

   
}
}

   @keyframes upDown{
      0%{
     transform: translateY(-4px); 
      }
     100%{
      transform: translateY(2px);
     }
    }

    @mixin upDown{
        animation: upDown 1.5s ease-in-out both infinite;
    }

.arrowScrollDown{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(100vh - 2rem);
    padding:6px 0;

    svg{
  @include upDown();
    }
}


@media (max-width: 360px) {

    .contentContainer{
        padding:0 2rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .hero{
            max-width:360px;
            margin-top: 2rem;
         
            > span{
               font-size:1.5rem;
               font-weight:bold; 
            }
         
            h1{
                font-size: 1.8rem;
                line-height:2.5rem;
                margin-top: 1.5rem;
         
                span{
                    color: var(--cyan-500);
                }
                .span{
                 color: var(--cyan-500);
                 font-size:5rem;
                }
            }
        
     
         }
        .myAvatar{
            width: 300px;
            height: 300px;
            margin-top: 3rem;
        }
    }
        
    
}

@media (max-width: 480px) {

    .contentContainer{
        padding:0 2rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .hero{
            max-width:360px;
            margin-top: 2rem;
         
            > span{
               font-size:1.5rem;
               font-weight:bold; 
            }
         
            h1{
                font-size: 2rem;
                line-height:2rem;
                margin-top: .4rem;
         
                span{
                    color: var(--cyan-500);
                }
                .span{
                 color: var(--cyan-500);
                 font-size:6rem;
                }
            }
        
     
         }
        .myAvatar{
            width: 360px;
            height: 360px;
            margin-top: 6rem;
        }
    }
        
    
}

